@import '@/utils/sass/baseVariable';

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: calc($screenWidth + 200px - 24px);
  padding-left: 24px;
  padding-right: 24px;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  min-height: calc(100vh - 64px);
}

.hero__description {
  color: #666;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 740px;
  width: 100%;
  margin: 0 auto 64px;
  & > span {
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    max-width: 760.8px;
  }
}

.hero__title {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 5.25rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.06em;
  margin: 0 0 40px;
}
.animated_gradient_text_background {
  position: relative;
  display: block;
  -webkit-user-select: none;
  user-select: none;

  &:first-of-type {
    &::before {
      content: 'Integrate.';
    }
  }

  &:nth-of-type(2) {
    &::before {
      content: 'Preview.';
    }
  }
  &:nth-of-type(3) {
    &::before {
      content: 'Ship.';
    }
  }

  &::before {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-left: 0.05em;
    padding-right: 0.05em;
  }

  &:first-of-type > .animated_gradient_text_foreground {
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
    animation: animate_hero_text_1 8s infinite;
  }

  &:nth-of-type(2) > .animated_gradient_text_foreground {
    background-image: linear-gradient(90deg, #7928ca, #ff0080);
    animation: animate_hero_text_2 8s infinite;
  }

  &:nth-of-type(3) > .animated_gradient_text_foreground {
    background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
    animation: animate_hero_text_3 8s infinite;
  }
}

.animated_gradient_text_foreground {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
  position: relative;
  z-index: 1;
}

.hero__btns {
  width: 410px;
  max-width: 100%;
  margin: 0 auto 24px;
}

.testimonials_container {
  width: 100%;
  & small {
    margin-top: 0px;
    padding-left: 0.2rem;
    color: #666;
    text-align: center;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 0.2rem;
    font-size: 0.75rem;
  }
}

.tiny__heading {
  text-align: center;
  margin-bottom: 48px;
  & > small {
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    margin-top: 0px;
    padding-left: 0.2rem;
    color: #666;
    text-align: center;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    --size: 1rem;
    line-height: 1.5em;
  }
}
.testimonials__brandsDesktop {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: calc(100vw - 48px);
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

@keyframes animate_hero_text_1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animate_hero_text_2 {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes animate_hero_text_3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }

  66.667%,
  83.333% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .hero__description {
    font-size: 1.5rem;
    max-width: 780px;
  }

  .hero__title {
    font-size: 7rem;
  }
}
