.version__list__wrapper {
  overflow-y: overlay;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
  }
}
