@import '@/utils/sass/baseVariable';

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: calc($screenWidth - 24px);
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
}

.path__line {
  height: 100px;
  width: 1px;
  background: linear-gradient(#fff, #ff0080);
  padding-right: 1px;
  align-self: center;
}

.label__number {
  display: inline-flex;
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 24px;
  background: linear-gradient(90deg, #7928ca, #ff0080);
}

.label__heading {
  font-size: 2rem;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
}

.label__text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
}

.title__title {
  text-align: center;
  margin: 0 0 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 3.75rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), #000);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}

.subtitle {
  max-width: 740px;
  width: 100%;
  margin: 0 auto 96px;
  color: #666;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.020625rem;
  font-weight: 500;
  text-align: center;
}

.preview__section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: $screenWidth;
  padding-left: 24px;
  padding-right: 24px;
  overflow: hidden;
  & > .container > .path__line {
    background: linear-gradient(#fff, #999);
  }
}

.preview__item__wrapper {
  display: flex;
  width: 100%;
}

.preview__item__graphic {
  flex: 1 1;
}

.graphic__review__wrapper {
  transform: translateY(-100px);
  position: relative;
}

.window {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  color: #000;
  position: relative;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
}

.window__header {
  width: 100%;
  flex-basis: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.window__traffic {
  margin-left: 12px;
  display: block;
}

.window__icon {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  & + .window__icon {
    margin-left: 8px;
  }
}

.window__close {
  background-color: #ff5f56;
}
.window__minimize {
  background-color: #ffbd2e;
}

.window__fullscreen {
  background-color: #27c93f;
}

.window__title {
  color: #666;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.window__browser__bar {
  flex: 1 1;
  color: #000;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browser__spacer {
  flex-basis: 140px;
  flex-shrink: 0;
}

.browser__input {
  flex: 1 1;
  background: #fafafa;
  border-radius: 3px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  position: relative;
}

.browser__url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.browser__placeholder {
  display: inline-flex;
  width: 12px;
}

.browser__body {
  flex: 1 1;
  width: 100%;
  overflow: auto;
}

.preview__item__line {
  display: flex;
  flex-direction: column;
}

.preview__path__circle {
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 1.5px #999 inset;
  border-radius: 50%;
  margin: 4px 0;
}

.preview__path__line {
  border-right: 1px dashed #999;
  width: 1px;
  align-self: center;
  flex: 1 1;
}

.preview__item__description {
  flex: 1 1;
}

.preview__description__inner {
  padding-left: 58px;
  padding-right: 50px;
  margin-top: -8px;
  padding-bottom: 256px;
  margin-bottom: 24px;
}

.small__heading {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 0 0 8px;
  & > span {
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    max-width: 324.8px;
  }
}

.icon__wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #fafafa;
  border: 1px solid #e3e3e3;
  color: #666;
  margin: 0 auto 16px;
}

.paragraph {
  line-height: 28px;
  letter-spacing: -0.02em;
  margin: 0;
  font-weight: 400;
  color: #666;
}

@media (min-width: 480px) {
  .window {
    width: 90%;
  }
}

@media (min-width: 960px) {
  .icon__wrapper {
    margin: 0 0 16px;
  }
}
