@import '@/utils/sass/baseVariable';

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 24px);
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
  flex: 1;
  justify-content: flex-start;
  align-items: stretch;
}

.path__line {
  height: 100px;
  width: 1px;
  background: linear-gradient(#fff, #019ae9);
  padding-right: 1px;
  align-self: center;
}

.label__number {
  display: inline-flex;
  border-radius: 100%;
  color: #fff;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 24px;
  background: linear-gradient(90deg, #007cf0, #00dfd8);
}

.label__heading {
  font-size: 2rem;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
}

.label__text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
}

.title__title {
  text-align: center;
  margin: 0 0 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 3.75rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), #000);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}

.subtitle {
  max-width: 740px;
  width: 100%;
  margin: 0 auto 96px;
  color: #666;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -0.020625rem;
  font-weight: 500;
  text-align: center;
}

.develop__demo {
  display: grid;
  width: calc($screenWidth + calc(2 * 24px));
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  margin-inline: auto;
}

.develop__demo__windows {
  width: 100%;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}

.develop__demo__benefits {
  margin-bottom: 24px;
}

.develop__demo__benefits__item {
  margin-bottom: 64px;
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.icon__wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #fafafa;
  border: 1px solid #e3e3e3;
  color: #666;
  margin: 0 auto 16px;
}

.small__heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 0 0 8px;
  & > span {
    display: inline-block;
    vertical-align: top;
    text-decoration: inherit;
    max-width: 379.8px;
  }
}

.paragraph {
  line-height: 28px;
  letter-spacing: -0.02em;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #666;
}

.frameworks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 12px;
  & ~ img {
    margin: 12px calc(1.5 * 12px);
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
  }
}

@media (min-width: 960px) {
  .develop__demo {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .develop__demo__benefits {
    padding-left: 64px;
    padding-right: 48px;
  }

  .develop__demo__benefits__item {
    text-align: left;
  }

  .icon__wrapper {
    margin: 0 0 16px;
  }
}
